@import url('https://fonts.googleapis.com/css?family=Arimo');
body{
    font-family: "Segoe UI Light";
    margin: 0;

}
.left{
    margin:0px 55px 2% 5%;
    float:left;
    display: block;
    position: relative;

}
.right{
    display:table-cell;
   width: 500px;
    border-color: black;
    background: #ffcb4e;
    padding-left: 5%;
    padding-right: 5%;


}
h1{
    text-align: center;

}

.top-menu {
    background: rgba(0, 0, 0, 0.99);
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
    height: 90px;
    padding: 0px;

}

.top-menu:after{
    clear: both;
}

.navbar-logo {
    display: inline-block;
    padding-top: 5px;
    padding-left: 100px;
}
.menu-main {
    list-style: none;
    margin: 0;
    padding-left: 0;
    float: right;

}
.menu-main li {
    display: inline-block;
    padding-top: 15px;
    padding-right: 80px;
    position: relative;
}
.menu-main a {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 50px;
    padding-left: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #f3f7e5;
    height: auto;
}
.menu-main a:before {
    content: "";
    width: 9px;
    height: 9px;
    background: #f3f7e5;
    position: absolute;
    left: 50%;
    transform: rotate(45deg) translateX(6.5px);
    opacity: 0;

}
.menu-main a:hover:before {opacity: 1;}


li a:hover {
    color: #ffcb4e;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 170px;
    background-color: black;
    border: 1px solid ;
    font-size: 20px;
    text-align: center;
    margin-left: -20px;
    z-index: 991;


}

ul.submenu > li > a >  {
    display: block;
    padding: 1px;
    color: white;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    color: #ffcb4e;
}
ul.menu-main > li:hover > ul {
    display: block;
}

footer {
    font-size: 15px;
    display: block;
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 15px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    clear: both;
}

.contactus{
    font-size: 20px;
}

#mask {
    position: relative;
    width: 100%;
}

#mask::after {
    background: transparent;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 60%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.slideRight{
    animation-name: slideRight;
    -webkit-animation-name: slideRight;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
    }
    50%{
        -webkit-transform: translateX(8%);
    }
    65%{
        -webkit-transform: translateX(-4%);
    }
    80%{
        -webkit-transform: translateX(4%);
    }
    95%{
        -webkit-transform: translateX(-2%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

.fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    60% {
        -webkit-transform: scale(1.1);
    }
    80% {
        -webkit-transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

nav li a:hover, .rotate {
    -moz-animation: animrotate 1s;
    -webkit-animation: animrotate 1s;
    background: transparent;
}
@-moz-keyframes animrotate {
    100% {background: transparent;-moz-transform: perspective( 200px ) rotateY( 360deg );}
}

@-webkit-keyframes animrotate {
    100% {background: transparent;-webkit-transform: perspective( 200px ) rotateY( 360deg );}
}


