@import url('https://fonts.googleapis.com/css?family=Arimo');

html{
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Segoe UI Light";
    padding: 0;
    margin-bottom: 100px;
}

.navbar {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    border-color: transparent;
    margin: 0;
}
.navbar-inverse {
    background-color: rgb(0, 0, 0);
}
.navbar-inverse .navbar-toggle {
    border-color: rgb(0, 0, 0);
}
.navbar-inverse .navbar-toggle:hover {
    background-color: rgb(0, 0, 0);
}
.navbar-brand {
    font-weight: bold;
}
.navbar li:hover {
    background-color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }

}

.FB-logo-wrapper {
    display: inline-block;
    margin-top: -30px;
    color: #fff;
    font-weight: 100;
    letter-spacing: .6px;
}
.FB-logo-wrapper .FB-logo {
    margin-right: -15px;
    padding-bottom: 3px;
}

.bio-text {
    max-width: 50em;
    margin: 20px auto;
    font: 1.8rem 'Open Sans', sans-serif;
    font-weight: 300;
    color: #000000;
    letter-spacing: .5px;
    line-height: 33px;
    text-align: justify;
    background-color: #fff;
    padding: 30px 70px;
    border-radius: 5px;
}
.section-header {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    font: 300 35px 'Raleway', sans-serif;
    letter-spacing: 3px;
    color: #000000;
}


h1 {
    position: relative;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

#mask {
    position: relative;
    width: 100%;
}

#mask::after {
    background: transparent;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 80%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
h2 {
    text-align: center;
}

#left {
    padding: 15px;
}

#right {
    padding-top: 10%;
    padding-bottom: 10%;
}

.label {
    width: 94px;
    margin-top: -1px;
    margin-right: 8px;
    display: block;
    float: left;
    font-size: 16px;
    color: #000000;
    padding: 0;
}




.fadeIn {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    visibility: visible;
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

ul.dropdown-menu {
    position: absolute;
    background-color: #000000;
    border: 1px solid ;
    text-align: center;
}

ul.dropdown-menu > li > a {
    display: block;
    padding: 1px;
    color: #ffffff;
    text-decoration: none;
}
ul.dropdown-menu > li > a:hover {

}

ul.navbar > li:hover > ul {
    display: block;
}
caption{
    text-align: center;
    font-size: 20px;
}

.header{
    margin-bottom: 4%;
}

footer.footer {
    margin-top: 30px;
    text-align: center;
    color: #9da1a6;

    background-color: #141414;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;

}

footer.footer .row {
    padding-bottom:17px;
    padding-top: 17px;
    margin-right: -15px;
    margin-left: -15px;
}


footer.footer .copyright {
    color: #FFFFFF;
}

.author{
    font-size: 35px;
    font-weight: bold;
}
.date{
    font-style: italic;
    font-size: small;
    color: #9da1a6;
}
.news{
    border-right: black solid;
    border-bottom: black solid;
    padding: 5px;
}

.caption{
    font-size: 20px;

}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}